***Q.Use IF ELSE and ELIF to write a program in python for your Report Cards. ***

In [5]:
marks=92

In [7]:
if marks>=90: 
  print("Grade = A") 
elif marks>=75 and marks<90: 
  print("Grade = B") 
elif marks>=60 and marks<75: 
  print("Grade = c") 
elif marks>=45 and marks<60: 
  print("Grade = D") 
else: 
  print("failed")

Grade = A

In [8]:
Percentage=marks/100 * 100 
Percentage

92.0

**Q. Use For Loop to Print Prime Numbers in between 1 to 1000**

In [10]:
lower=1 
upper=1000

In [19]:
print("Prime numbers between",lower,"and",upper,"are:") 
for num in range(lower,upper+1): 
  if num>1: 
    for i in range(2, num): 
      if(num % i) == 0: 
        break 
        
    else: 
          print(num)

Prime numbers between 1 and 1000 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

**Q. Write a program for printing the tables from 1,10 using Nested For Loop**

In [23]:
number= int(input("Display multiplication table of the:"))
for i in range(1,11):
  print(number,'x',i,'=',number*i)

Display multiplication table of the:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

***Q.Write a program to Print X Prime Numbers using While Loop starting from 0, and take the INput of X from the user ***

In [34]:
Number = int(input("Please Enter any Number: ")) 
count = 0 
for i in range(2, (Number//2 + 1)): 
  if(Number % i == 0): 
    count = count + 1 
    break 
if (count == 0 and Number != 1): 
      print(" %d is a Prime Number" %Number)
else: 
      print(" %d is not a Prime Number" %Number)

Please Enter any Number: 7
 7 is a Prime Number